code/node-red_mqtt_flow.json
[
    {
        "id": "fc85e8173cba9109",
        "type": "tab",
        "label": "Mqtt-gp_p10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92bb89d04aa45017",
        "type": "mqtt in",
        "z": "fc85e8173cba9109",
        "name": "",
        "topic": "gp_p10/sensor/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fde00a025da6fd13",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "688303df63e4238e",
                "b0af705a2cca675f",
                "e632d05f06165d4f",
                "681323f55b324857",
                "fae2a67cf330905c"
            ]
        ]
    },
    {
        "id": "688303df63e4238e",
        "type": "debug",
        "z": "fc85e8173cba9109",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "b0af705a2cca675f",
        "type": "ui_text",
        "z": "fc85e8173cba9109",
        "group": "9c1057097abb84de",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "datetime (update on 1mins later)",
        "format": "{{msg.payload.datetime}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "e632d05f06165d4f",
        "type": "ui_text",
        "z": "fc85e8173cba9109",
        "group": "9c1057097abb84de",
        "order": 5,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "parking space1 is available",
        "format": "{{msg.payload.sensor1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "681323f55b324857",
        "type": "ui_text",
        "z": "fc85e8173cba9109",
        "group": "9c1057097abb84de",
        "order": 8,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "parking space2 is available",
        "format": "{{msg.payload.sensor2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "fae2a67cf330905c",
        "type": "ui_text",
        "z": "fc85e8173cba9109",
        "group": "9c1057097abb84de",
        "order": 11,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "parking space3 is available",
        "format": "{{msg.payload.sensor3}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "ccb62b4d9a909269",
        "type": "mqtt in",
        "z": "fc85e8173cba9109",
        "name": "",
        "topic": "gp_p10/parking/daily",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fde00a025da6fd13",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "eeb5c06c08a585fe",
                "580fa9b931a084fd"
            ]
        ]
    },
    {
        "id": "eeb5c06c08a585fe",
        "type": "debug",
        "z": "fc85e8173cba9109",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 400,
        "wires": []
    },
    {
        "id": "03f1070d411edccc",
        "type": "ui_text",
        "z": "fc85e8173cba9109",
        "group": "3d9638e7c46a4290",
        "order": 2,
        "width": 18,
        "height": 4,
        "name": "",
        "label": "=== Daily Parking Utilization Trends (last 7 day & Today) ===",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "580fa9b931a084fd",
        "type": "function",
        "z": "fc85e8173cba9109",
        "name": "Daily Performing",
        "func": "// Split the incoming string into lines\nconst lines = msg.payload.split('\\n');\n\n// Create an HTML table\nlet html = '<table border=\"1\"><tr><th>Record Date</th><th>Space 1 Occupancy Rate</th><th>Space 2 Occupancy Rate</th><th>Space 3 Occupancy Rate</th><th>Avg Occupancy Rate</th><th>Total Occupied</th></tr>';\n\n// Loop through each line and add it to the table\nfor (let i = 1; i < lines.length; i++) { // Start from 1 to skip the header\n    const columns = lines[i].trim().split(/\\s+/);\n    if (columns.length > 0) {\n        html += '<tr>';\n        columns.forEach(column => {\n            html += `<td>${column}</td>`;\n        });\n        html += '</tr>';\n    }\n}\nhtml += '</table>';\n\n// Set the formatted HTML as the new payload\nmsg.payload = html;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            [
                "03f1070d411edccc"
            ]
        ]
    },
    {
        "id": "6b63fcd0d5b1f323",
        "type": "mqtt in",
        "z": "fc85e8173cba9109",
        "name": "",
        "topic": "gp_p10/parking/peak_usage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fde00a025da6fd13",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "ab66522a2e6c0adb",
                "788e0ea0591a9405"
            ]
        ]
    },
    {
        "id": "88d14fbc91330b3b",
        "type": "mqtt in",
        "z": "fc85e8173cba9109",
        "name": "",
        "topic": "gp_p10/parking/pricing",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fde00a025da6fd13",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 660,
        "wires": [
            [
                "d705b4acbbe23092",
                "507005233df2ff3a"
            ]
        ]
    },
    {
        "id": "ab66522a2e6c0adb",
        "type": "debug",
        "z": "fc85e8173cba9109",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 520,
        "wires": []
    },
    {
        "id": "28ef9c1c6f9e0bde",
        "type": "mqtt in",
        "z": "fc85e8173cba9109",
        "name": "",
        "topic": "gp_p10/parking/patterns",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fde00a025da6fd13",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "8420be886d94bc69",
                "67883bc44c4579da"
            ]
        ]
    },
    {
        "id": "4618474887721c7e",
        "type": "mqtt in",
        "z": "fc85e8173cba9109",
        "name": "",
        "topic": "gp_p10/sensor/predictions",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fde00a025da6fd13",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 900,
        "wires": [
            [
                "32e0a0d6ef9eade1",
                "0a6aa05b13e0ad79"
            ]
        ]
    },
    {
        "id": "788e0ea0591a9405",
        "type": "function",
        "z": "fc85e8173cba9109",
        "name": "Peak Usage Times",
        "func": "// Initialize an array to hold the formatted strings\nlet formattedData = [];\n\n// Access the peak_hours array from the incoming payload\nconst peakHours = msg.payload.peak_hours;\n\n// Loop through each hour object and format the string\npeakHours.forEach(hourData => {\n    const formattedString = `Hour ${hourData.hour}: (Total occupancy rate: ${hourData.total_occupancy_rate}%)`;\n    formattedData.push(formattedString);\n});\n\n// Join the formatted strings into a single message\nmsg.payload = formattedData.join('<br>');\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 560,
        "wires": [
            [
                "b82292fce6e92449"
            ]
        ]
    },
    {
        "id": "b82292fce6e92449",
        "type": "ui_text",
        "z": "fc85e8173cba9109",
        "group": "9c1057097abb84de",
        "order": 15,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "=== Peak Usage Times ===",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 560,
        "wires": []
    },
    {
        "id": "e9d28654349e70a8",
        "type": "ui_text",
        "z": "fc85e8173cba9109",
        "group": "2fe014840bbbeafc",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "=== Dynamic Pricing Recommendations ===",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "d705b4acbbe23092",
        "type": "debug",
        "z": "fc85e8173cba9109",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 640,
        "wires": []
    },
    {
        "id": "507005233df2ff3a",
        "type": "function",
        "z": "fc85e8173cba9109",
        "name": "Dynamic Pricing",
        "func": "// Initialize the HTML table\nlet html = '<table border=\"1\" style=\"width: 100%; border-collapse: collapse;\">';\nhtml += '<tr><th>Hour</th><th>Occupancy Rate (%)</th><th>Recommended Price (HKD)</th><th>Strategy</th></tr>';\n\n// Access the array from the incoming payload\nconst pricingData = msg.payload;\n\n// Loop through each object in the pricing data array\npricingData.forEach(item => {\n    html += `<tr>\n                <td>${item.hour}</td>\n                <td>${item.occupancy_rate.toFixed(1)}</td>\n                <td>${item.recommended_price.toFixed(1)}</td>\n                <td>${item.strategy}</td>\n              </tr>`;\n});\n\n// Close the table\nhtml += '</table>';\n\n// Set the formatted HTML as the new payload\nmsg.payload = html;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 680,
        "wires": [
            [
                "e9d28654349e70a8",
                "950958548b9c37b2"
            ]
        ]
    },
    {
        "id": "8420be886d94bc69",
        "type": "debug",
        "z": "fc85e8173cba9109",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 760,
        "wires": []
    },
    {
        "id": "32e0a0d6ef9eade1",
        "type": "debug",
        "z": "fc85e8173cba9109",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 880,
        "wires": []
    },
    {
        "id": "67883bc44c4579da",
        "type": "function",
        "z": "fc85e8173cba9109",
        "name": " Recurring Occupancy",
        "func": "// Access the occupancy data from the incoming payload\nconst occupancyData = msg.payload;\n\n// Format the output string\nconst outputString = `Average WeekDay Occupancy: ${occupancyData.weekday_occupancy.toFixed(2)}%<br>Average WeekEnd Occupancy: ${occupancyData.weekend_occupancy.toFixed(2)}%`;\n\n// Set the formatted string as the new payload\nmsg.payload = outputString;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 800,
        "wires": [
            [
                "19982a44c3993f5c"
            ]
        ]
    },
    {
        "id": "19982a44c3993f5c",
        "type": "ui_text",
        "z": "fc85e8173cba9109",
        "group": "9c1057097abb84de",
        "order": 19,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "=== Recurring Occupancy Patterns ===",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 700,
        "y": 800,
        "wires": []
    },
    {
        "id": "9c57aeb9691494a2",
        "type": "ui_text",
        "z": "fc85e8173cba9109",
        "group": "3d9638e7c46a4290",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "=== Recommendations ===",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 920,
        "wires": []
    },
    {
        "id": "0a6aa05b13e0ad79",
        "type": "function",
        "z": "fc85e8173cba9109",
        "name": "function 1",
        "func": "// Access the prediction data from the incoming payload\nconst predictionData = msg.payload;\n\n// Initialize the HTML table\nlet html = '<table border=\"1\" style=\"width: 100%; border-collapse: collapse; text-align: center;\">';\nhtml += '<tr><th>Recommendation</th><th>Details</th></tr>';\n\n// Add rows for the relevant data\nhtml += `<tr>\n            <td>Recommendations DateTime</td>\n            <td>${predictionData.prediction_datetime}</td>\n          </tr>`;\nhtml += `<tr>\n            <td>Recommended Pricing</td>\n            <td>${predictionData.recommendations.pricing}</td>\n          </tr>`;\nhtml += `<tr>\n            <td>Reservation</td>\n            <td>${predictionData.recommendations.reservation}</td>\n          </tr>`;\n\n// Close the table\nhtml += '</table>';\n\n// Set the formatted HTML as the new payload\nmsg.payload = html;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 920,
        "wires": [
            [
                "9c57aeb9691494a2"
            ]
        ]
    },
    {
        "id": "950958548b9c37b2",
        "type": "ui_text",
        "z": "fc85e8173cba9109",
        "group": "bdbcff6e6281d738",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "=== Dynamic Pricing Recommendations ===",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 680,
        "wires": []
    },
    {
        "id": "ee36401d959efebf",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 1,
        "width": 3,
        "height": 1
    },
    {
        "id": "5c9840aa12463be5",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "0e910a0bffcc36a6",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "2a25a3415a7b6335",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "b014cb23cf28ee1f",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "cf4418cfb43497bb",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "2df26bf9e117d933",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "27fbda185c6b2e0c",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "18452dcfd34734d9",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 13,
        "width": 14,
        "height": 1
    },
    {
        "id": "b66f85daf11a2a41",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "c6a7c2955453954c",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "8efd4ccf71996c22",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 17,
        "width": 14,
        "height": 1
    },
    {
        "id": "195408769a6e821d",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "b456c805f24807c5",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "9c1057097abb84de",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "73e278f302b6a483",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "2fe014840bbbeafc",
        "order": 1,
        "width": 18,
        "height": 1
    },
    {
        "id": "9230627afe98176c",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "2fe014840bbbeafc",
        "order": 2,
        "width": 18,
        "height": 1
    },
    {
        "id": "04e65b1482b4a118",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "2fe014840bbbeafc",
        "order": 3,
        "width": 18,
        "height": 1
    },
    {
        "id": "85f5a4927939235e",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "2fe014840bbbeafc",
        "order": 4,
        "width": 18,
        "height": 1
    },
    {
        "id": "1727441a99cbf349",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "3d9638e7c46a4290",
        "order": 1,
        "width": 18,
        "height": 1
    },
    {
        "id": "892d285bdc98d878",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "3d9638e7c46a4290",
        "order": 3,
        "width": 18,
        "height": 1
    },
    {
        "id": "c44915f7cbbb2acc",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "bdbcff6e6281d738",
        "order": 1,
        "width": 14,
        "height": 1
    },
    {
        "id": "8d305a7a5db7fdc3",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "bdbcff6e6281d738",
        "order": 2,
        "width": 14,
        "height": 1
    },
    {
        "id": "cc71acf0c4cebda4",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "bdbcff6e6281d738",
        "order": 3,
        "width": 14,
        "height": 1
    },
    {
        "id": "34874b26275b647d",
        "type": "ui_spacer",
        "z": "fc85e8173cba9109",
        "name": "spacer",
        "group": "bdbcff6e6281d738",
        "order": 4,
        "width": 14,
        "height": 1
    },
    {
        "id": "fde00a025da6fd13",
        "type": "mqtt-broker",
        "name": "project",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9c1057097abb84de",
        "type": "ui_group",
        "name": "IoT-Based Smart Parking System",
        "tab": "45fc7629aa8c3f0a",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d9638e7c46a4290",
        "type": "ui_group",
        "name": "Long-Term Parameters",
        "tab": "a84d82bc6142ccf5",
        "order": 2,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2fe014840bbbeafc",
        "type": "ui_group",
        "name": "Pricing Table",
        "tab": "45fc7629aa8c3f0a",
        "order": 3,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bdbcff6e6281d738",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "a84d82bc6142ccf5",
        "order": 2,
        "disp": false,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45fc7629aa8c3f0a",
        "type": "ui_tab",
        "name": "GP_p10 - Topic: IoT-Based Smart Parking System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a84d82bc6142ccf5",
        "type": "ui_tab",
        "name": "Reservation Systems",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]